.logo {max-width: 100%;}
.youtubeIcon {color: white;padding-left: 20px;}
.linkedinIcon {color: white;padding-left: 20px;}
.instagramIcon {color: white;padding-left: 20px;}
.twitterIcon {color: white; padding-left: 20px;}
.emailIcon {color: white; padding-left: 20px}
.body2 {background-color: black;}
.card {margin-top: 10px;background-color: black;

}
.staff {width: 100%;padding-bottom: 20px}
.card-block {background-color: black;border-color: black;
}
h2 {color: white; font-style: italic;font-family:'Montserrat Subrayada', sans-serif;}
p {color: white;font-family:'Poppins', sans-serif;}
h3 {color: white;font-family:'Montserrat Subrayada', sans-serif;}
.card-footer {background-color: black;}
.FNC {width: 30%;padding-bottom: 30px}
.MFT {width: 30%;padding-bottom:30px}
.MFT1 {width: 30%;padding-bottom: 30px;}
.SITM {width: 46%}
.MLB {width: 46%}
.nav-link {color: white;font-family:'Montserrat Subrayada', sans-serif;}
.customNav {background-color: black;}
.house {color: white; }
.about {color: white;}
.enter {background-color: white; color: black; font-family:'Montserrat Subrayada', sans-serif;}
.body1 {background-color: black;}
.navSpace {padding-left: 20px}
.imageT {color: white;}
.paraT {font-style: italic;}
.services {color: white;font-family:'Poppins', sans-serif;}

